
body
{

background: url(../img/background.jpg);
font-family: Arial; font-size: 10px;

}



header 
{	

	margin-top: 4%;
	margin-right: 2%;
	margin-left: 2%;
	text-align: center;

}

section 
{

	margin-right: 2%;
	margin-left: 2%;
	
	

	
}

.table2 tr th {text-align: center;}

.pad-basic

{
padding:.5%; 
	
}

.no-btm
{
	margin-bottom:0%;
}

.btn-der
{
	text-align: right;
}



